<h2>About Me</h2>
<p><%= raw(@introduction) %></p>

<h2>Teaching Philosophy</h2>
<p>	<%= raw(@philosophy) %></p>

<h2>Work Experience</h2>
<ul class="experience-list">
<% for position in @positions %>
	<li>
		<div class="span-7 position-details">
			<h3><%= position.location %></h3>
			<h3 class="position-type"><em><%= position.position_type %></em></h3>
			<p class="date"><%= position.date_from and position.date_from.strftime("%B %Y") %> - <%= position.date_to and position.date_to.strftime("%B %Y") or 'Present' %></p>
			
		</div>
	  <div class="position-description span-14 last">
			 <p><%= position.description %></p>
	  </div>
	<div style="clear: both;"></div>
	</li>
<% end %>
</ul>

<h2>Qualifications</h2>

<ul class="experience-list">
	<% for qualification in @qualifications %>
	<li>
	<div class="span-6 position-details">
		<h3><%= qualification.location %></h3>
		<p class="date"><%= qualification.date_from and qualification.date_from.strftime("%B %Y") %> - <%= qualification.date_to and qualification.date_to.strftime("%B %Y") or 'Present' %></p>
	</div>
		<table class="subjects span-7 push-2 last">			
		<% for subject in qualification.subjects %>
			<tr>
			<td><%= subject.name %></td>
			<td><%= subject.level %></td>
			<td><%= subject.grade or "-" %></td>
		</tr>
		<% end %>
	</table>
						<div style="clear: both;"></div>
	</li>
	<% end %>
</ul>

<h2>References</h2>
<p>
	Available on request
</p>