
<%= form.inputs do -%>
    <%= form.input :location, :hint => 'The name of the school/workplace the position was held at'  %>
    <%= form.input :position_type%>
    <%= form.input :date_from, :as => :date_picker %>
    <%= form.input :date_to, :as => :date_picker %>
    <%= form.input :description %>
    <nav class="action-bar">
			<%= form.submit nil, :class => 'btn' %>
			<%= link_to 'Cancel', edit_experience_page_url(@experience_page) %>
		</nav>
<% end %>