<nav class="span-5" id="profile-sidebar">
	<h2>Welcome</h2>
	<ul>
		<% if ! signed_in? %>
  	<li <% if params[:controller] == 'sessions' && params[:action] == 'new' %>class="sidebar-selected round-left"<% end %>>
	    <%= link_to 'Sign In', sign_in_path %>
	  </li>
	  <li class="impact <% if params[:controller] == 'passwords' && params[:action] == 'new' %>sidebar-selected round-left"<% end %>"">
	    <%= link_to 'Forgotten Password', new_password_path(current_user)  %>
	  </li>
	  <li <% if params[:controller] == 'users' && params[:action] == 'new' %>class="sidebar-selected round-left"<% end %>>
	    <%= link_to 'Sign Up', sign_up_path %>
	  </li>
	  <% else %>
		<li <% if params[:controller] == 'users' && params[:action] == 'edit' %>class="sidebar-selected round-left"<% end %>>
			<%= link_to 'Edit Account', edit_user_path(current_user) %>
		</li>
		<li  <% if params[:controller] == 'passwords' && params[:action] == 'edit' %>class="sidebar-selected round-left"<% end %>>
			<%= link_to 'Change Password', edit_user_password_path(current_user) %>
		</li>
	  <% end %>
	</ul>
</nav> 