
<h2 class=" banner round-top">Profiles</h2>
<div class="content round-bottom">

<% if @profiles.length == 0 %>
  <p>Lets create your first teaching profile!</p>
<% end %>

<table id="profiles">
<% @profiles.each do | profile | %>
  <tr>
    <td class="name"><%= profile.name %></td>
    <td><%= link_to 'Edit', { :controller => 'profiles', :action => 'edit', :id => profile.id }, :method => 'get', :class => 'ss_sprite ss_pencil' %></td>
		<td><%= link_to 'Delete', { :controller => 'profiles', :action => 'destroy', :id => profile.id }, :method => 'delete', :confirm => 'Delete this profile?', :class => 'ss_sprite ss_delete' %></td>
		<td><%= link_to 'View Profile', { :controller => 'profiles', :action => 'show', :id => profile.id }, :method => 'get', :class => 'ss_sprite ss_zoom' %></td>
		<td>PDF</td>
  </tr>
<% end %>
</table>
<% if @profiles.length < Profile::LIMIT %>
<nav class="table-base">
	<%= link_to 'Create profile', new_profile_path, :method => 'get', :class => 'ss_sprite ss_add' %>
</nav>
<% end %>
</div>