<h1>Editing your account</h1>

<%= form_for @user do |form| %>
  <%= render :partial => '/users/form', :locals => { :form => form, :edit_password => false } %>
  <%= form.submit 'Save' %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Change Password', edit_user_password_path(current_user) %>
