<h2>Admin</h2>

<table>
  <tr>
		<th>Name</th>
    <th>Email</th>
    <th>Subscribed Until</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
		<td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.subscribed_until %></td>
    <td><%= link_to 'Edit Subscription', edit_subscription_user_path(user) %></td>
  </tr>
<% end %>
</table>

