	<div class="marketing-banner">
		<%= image_tag('tp-laptop.png', :alt => 'Fast. Simple. Effective.') %>	
	</div>
	<div>
		<%= link_to 'Register Now', sign_up_path, :class => 'register btn success' %>
		<%= link_to 'Sign In', sign_in_path, :class => 'register btn info' %>
		<br class="clearfix" />
	</div>
	
	<div class="span-11">
		<section>
			<h2>What is TeachingProfile?</h2>
			<p class="block-text">TeachingProfile is a web application designed to help teachers create simple and attractive online showcase portfolios including sample lessons or projects.</p>
			<%= link_to (image_tag 'show_page_screen_thumb.png', :alt => 'Attractive profiles', :class => 'screenshot'), asset_path('show_page_screen.png'), :class => 'gallery-link' %>
		</section>
		<section>
			<h2>Why do I need an online portfolio?</h2>
			<p class="block-text">
				You can link to your portfolio in application forms (or anywhere else for that matter). No need to drag bulky portfolios to your interviews.  Let schools see what you can do before the shortlisting process.  A nicely presented list of sample lessons could be what gives you the edge over other candidates.
			</p>
			<p class="block-text">
				You can include documents/files that are hard to put into paper based portfolios.  Word documents, PDFs, MP3s can all be embedded straight into your profile.
			</p>
			<p class="block-text">
				Need a CV in a hurry?  With one click you can have a nicely formatted PDF document containing a personal statement, teaching philosophy and all your relevant experience and qualifications.
			</p>
		</section>
	</div>

	<div class="push-2 span-11">
		<section>
			<h2>I don't know anything about making websites.  Is that a problem?</h2>
			<p class="block-text">Not at all.  We've taken the pain out of creating your profile.  You just need to fill in a set of forms and upload a few photos/documents and you're ready to start handing out the link to your profile.</p>
			<%= link_to (image_tag 'edit_page_screen_thumb.png', :alt => 'Attractive profiles', :class => 'screenshot'), asset_path('edit_page_screen.png'), :class => 'gallery-link' %>
		</section>
		<section>
			<h2>What if I'm applying for several different types of teaching position at the same time?</h2>
			<p class="block-text">That's no problem at all. You can create up to 3 different profiles to allow you to target them at different types of school or subject specialisations or to try out different styles and see which is most successful.</p>
		</section>
		<section>
			<h2>Is it expensive?</h2>
			<p class="block-text">We don't think so.  The standard price for 1 year is £30 (just £2.50 a month).  If you help to spread the word about our site by liking our Facebook page or mentioning us on Twitter then we'll reduce that to £24.  That's an online profile for just £2 a month – the price of a cup of coffee (depending where you buy your coffee...).</p>
		</section>
	</div>



