<section class="span-15 last round-top">
	<h2 class=" banner round-top">Edit Project</h2>
	<div class="content round-bottom">
		<%= semantic_form_for([@subject_area, @project]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <%= form.submit 'Update', :class => 'btn' %>
		<% end %>
		<div class="document-area">
		<h2>Gallery</h2>
			<% if @photos.empty? %>
			<p>No images uploaded.</p>
			<% else %>
				<ul id="photo-list" class="gallery">
				<% for photo in @photos %>
			 		<li><%=  link_to(image_tag(photo.photo.url(:thumb), :alt => photo.caption, :title => photo.caption, :class => 'photo'), edit_project_photo_path(@project.id, photo.id))  %></li>
				<% end %>
				</ul>
				<br class="clearfix" />
			<% end %>
			<nav>
				 <%= link_to 'Upload Image', new_project_photo_path(@project.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			</nav>
		</div>
		<div class="document-area">
			<h2>Supporting Documents</h2>
			<% if @documents.empty? %>
			<p>No documents uploaded.</p>
			<% else %>
			<ul class="documents">
			<% for document in @documents %>
		 		<li class="<%= content_type_to_string(document.document.content_type) %>">
					<h4><%=  link_to(document.caption, edit_project_document_path(@project.id, document.id))  %></h4>
					<p><em><%= document.description %></em></p>
				</li>
			<% end %>
			</ul>
			<% end %>
			<nav>
				 <%= link_to 'Upload Document', new_project_document_path(@project.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			</nav>
		</div>
	</div>
</section>