
<section class="span-14 ">
	<h2><%= @display_project.name %></h2>
	<p><%= @display_project.description %></p>
	<% if @display_project.photos.length > 0 %>
	<div class="document-area">
		<h2>Gallery</h2>
		<ul id="photo-list" class="gallery">
			<% for photo in @display_project.photos %>
		 		<li><%=  link_to(image_tag(photo.photo.url(:thumb), :alt => photo.caption, :title => photo.caption, :class => 'photo'), photo.photo.url(:medium)) %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<% if @display_project.documents.length > 0 %>
	<div class="document-area">
		<h2>Supporting Documents</h2>
		<ul class="document-list">
		<% for document in @display_project.documents %>
	 		<li>
				<div class="file-box <%= content_type_to_string(document.document.content_type) %>">
				<%=  link_to(document.caption, document.document.url)  %>
				<p><em><%= document.description %></em></p>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
	<% end %>
	
</section>