

<h2 class=" banner round-top">Change your password</h2>
<div class="content round-bottom">

	<p>
	  Choose a new password below.
	</p>

	<%= semantic_form_for(:user,
	             :url  => user_password_path(@user, :token => @user.confirmation_token),
	             :html => { :method => :put }) do |form| %>
		<p>Passwords must be between 6 and 15 characters long.  They must contain both upper and lower case characters and at least one numerical character.</p>
		<% if @user.errors.any? %>
		<div id="error_explanation">
		  <ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
		<% end %>
	  <div class="password_field">
	    <%= form.label :password, "Choose password" %>
	    <%= form.password_field :password %>
	  </div>
	  <div class="password_field">
	    <%= form.label :password_confirmation, "Confirm password" %>
	    <%= form.password_field :password_confirmation %>
	  </div>
	  <div class="submit_field">
	    <%= form.submit "Save this password", :class => 'btn' %>
	  </div>
	<% end %>
 </div>
