

<h2 class=" banner round-top">Change your password</h2>
<div class="content round-bottom">

	<p>
	  Choose a new password below.
	</p>

	<%= semantic_form_for(:user,
	             :url  => user_password_path(@user, :token => @user.confirmation_token),
	             :html => { :method => :put }) do |form| %>
		
		<% if @user.errors.any? %>
		<div id="error" class="error">
			<p>The following errors prohibited your password from being updated:</p>
		  <ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
		<% end %>

 		<%= form.input :password, :label => 'Choose password', :hint => 'Passwords must be between 6 and 15 characters long.  They must contain both upper and lower case characters and at least one numerical character.' %>
		<%= form.input :password_confirmation, :label => 'Confirm password' %>
	  <div class="submit_field">
	    <%= form.submit "Save this password", :class => 'btn' %>
	  </div>
	<% end %>
 </div>
