
<%= form.inputs do -%>
    <%= form.input :name, :label => 'Subject' %>
    <%= form.input :level %>
    <%= form.input :grade %>
	  <nav class="action-bar">
			<%= form.submit 'Save', :class => 'btn' %>
			<%= link_to 'Cancel', edit_experience_page_url(@experience_page) %>
		</nav>
<% end %>