<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">Edit Subject Area</h2>
	<div class="content round-bottom">
		<%= semantic_form_for([@sample_work_page, @subject_area]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <nav class="action-bar">
				<%= form.submit 'Update', :class => 'btn' %>
			</nav>
		<% end %>
		<h2>Projects</h2>
		<% if @projects.size == 0 %>
		<p>This subject area currently has no projects. Why not create one now?</p>
		<% else %>
		<table id="projects-list" class="experience-table">
		<% for project in @projects %>
			<tr>
				<td><%= project.name %></td>
				<td><%= link_to 'Edit', edit_subject_area_project_path(@subject_area.id, project.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></td>
				<td><%= link_to 'Delete', subject_area_project_path(@subject_area.id, project.id), :method => 'delete', :class => 'ss_sprite ss_delete', 	:confirm => "Delete this project?" %></td>
			</tr>
		<% end %>
		</table>
		<% end %>
		<%= link_to 'Add Project', new_subject_area_project_path(@subject_area.id), :method => 'get', :class => 'ss_sprite ss_add' %>
		
			
	</div>
</section>