
	<h2 class=" banner round-top">Positions / Experience</h2>
	<div class="content last">
		<div class="helper">
			This is where you can list your previous experience in the workplace.  You should list your relevant jobs and placements.
			<%= semantic_form_for @experience_page, :html => { :class => 'distinct round' } do |form| %>
				<%= form.inputs do %>
					<%= form.input :publish_positions, :label => 'Include your work experience in your profile?' %>
					<%= form.submit :value => 'Apply change' %>
				<% end %>
			<% end %>

		</div>




			<% if @positions.length == 0 %>
			<p><em>You don't currently have any previous experience listed.  Why not add a position now?</em></p>
			<% else %>
			<table class="experience-table position-table rounded-corners">
				<tr>
					<th>Where</th>
					<th>From</th>
					<th>Until</th>
					<th></th>
					<th></th>
				</tr>
			<% for position in @positions %>
				<tr>
					<td><%= position.location %></td>
					<td><%= position.date_from.strftime("%B %Y") %></td>
					<td><%= (position.date_to and position.date_to.strftime("%B %Y")) || 'Present' %></td>
					<td><%= link_to 'Edit', edit_experience_page_position_path(@experience_page.id, position.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></td>
					<td><%= link_to 'Delete', experience_page_position_path(@experience_page.id, position.id), :confirm => "Delete this position?", :method => 'delete', :class => 'ss_sprite ss_delete' %></td>
				</tr>
			<% end %>
			</table>
			<% end %>

			<%= link_to 'Add Position', new_experience_page_position_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
		</section>
		<section class="push-1 span-15 last round-top">
			<h2 class=" banner round-top">Qualifications</h2>
			<div class="content">


				<div class="helper">This is where you can list the qualifications you currently hold or are working towards.
			
				<%= semantic_form_for @experience_page do |form| %>
					<%= form.inputs do %>
						<%= form.input :publish_qualifications, :label => 'Include your qualifications in your profile?' %>
						<%= form.submit :value => 'Apply change' %>
					<% end %>
				<% end %>
				</div>

			<% if @qualifications.length == 0 %>
			<p>You have not currently listed any places you've studied.  Why not add some now?</p>
			<%= link_to 'Add a new place', new_experience_page_qualification_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			<% else %>
			<h3>Places you've studied</h3>
			
			<%= link_to 'Add a new place', new_experience_page_qualification_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			
			<ul class="clean-list">
			<% for qualification in @qualifications %>
				<li class="qualification-container round">
					<div class="subject round">
						<header class="qualification round-top">
							<h4 class="location span-7 round">
								<%= qualification.location %> - 
								<em>
									<%= qualification.date_from.strftime("%B %Y") %> to
									<%= (qualification.date_to and qualification.date_to.strftime("%B %Y")) || 'Present' %>
								</em>
							</h4>
							<nav class="span-4 last">
								<ul>
									<li><%= link_to 'Edit', edit_experience_page_qualification_path(@experience_page.id, qualification.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></li>
									<li><%= link_to 'Delete', experience_page_qualification_path(@experience_page.id, qualification.id), 
									:confirm => "Delete this qualification?", :method => 'delete', :class => 'ss_sprite ss_delete' %></li>					
								</ul>
							</nav>
							<div style="clear: both !important"></div>
						</header>
						

						<div class="qualification-inner">
							<table class="experience-table">
								<tr class="round-top">
					 				<th>Subject</th>
									<th class="centered">Level</th>
									<th class="centered">Grade</th>
									<th></th>
									<th></th>
								</tr>
							<% if qualification.subjects.length > 0 %>
								<% for subject in qualification.subjects %>	
								<tr>
									<td><%= subject.name %></td>
									<td class="centered"><%= subject.level %></td>
									<td class="centered"><%= subject.grade || 'Awaiting' %></td>
									<td><%= link_to 'Edit', edit_qualification_subject_path(qualification.id, subject.id), :method => 'get' %></td>
									<td><%= link_to 'Delete', qualification_subject_path(qualification.id, subject.id), :method => 'delete', 
										:confirm => "Delete this qualification?" %></td>
								</tr>
								<% end %>
							<% else %>
							<tr>
								<td colspan="5">No subjects listed</td>
							</tr>					
							
							<% end %>
							</table>
							<%= link_to 'Add a course/subject', new_qualification_subject_path(qualification.id), :method => 'get', :class => 'ss_sprite ss_add' %>
						</div>
					</div>
				</li>
			<% end %>
			</ul>
			<% end %>

