<section>
	<h2 class=" banner round-top">Positions / Experience</h2>
	<div class="content last">
		<div class="helper">
			<p>
				This is where you can list your previous experience in the workplace.  You should list your relevant jobs and placements.
			</p>
		</div>
			<% if @positions.length == 0 %>
			<p><em>You don't currently have any previous experience listed.  Why not add a position now?</em></p>
			<%= link_to 'Add Position', new_experience_page_position_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			<% else %>
			<table class="experience-table position-table">
				<tr class="header-row">
					<th>Where</th>
					<th>Position</th>
					<th></th>
					<th></th>
				</tr>
			<% for position in @positions %>
				<tr>
					<td>
						<%= position.location %>
						<p class="date"><%= position.date_from.strftime("%B %Y") %> - <%= (position.date_to and position.date_to.strftime("%B %Y")) || 'Present' %></p>
					</td>
					<td><%= position.position_type %></td>
					<td><%= link_to 'Edit', edit_experience_page_position_path(@experience_page.id, position.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></td>
					<td>
					<%= link_to 'Delete', experience_page_position_path(@experience_page.id, position.id), :confirm => "Delete this position?", :method => 'delete', :class => 'ss_sprite ss_delete' %></td>
				</tr>
			<% end %>
			</table>
			<nav class="table-base">
			<%= link_to 'Add Position', new_experience_page_position_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			</nav>
			<% end %>

			</div>
</section>
<section>
			<h2 class=" banner round-top">Qualifications</h2>
			<div class="content">


				<div class="helper">
					<p>
						This is where you can list the qualifications you currently hold or are working towards.
					</p>
				</div>		
			<% if @qualifications.length == 0 %>
			<p><em>You have not currently listed any places you've studied.  Why not add some now?</em></p>
			<%= link_to 'Add a new place', new_experience_page_qualification_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			<% else %>

			<ul class="experience-list">
				<% for qualification in @experience_page.qualifications %>
				<li class="qualification-container">
					<table class="subjects">
						<tr class="header-row">	
							<th colspan="3">	
								<div class="span-6 position-details last">
									<p class="location"><%= qualification.location %></p>
									<p class="date"><%= qualification.date_from and qualification.date_from.strftime("%B %Y") %> - <%= qualification.date_to and qualification.date_to.strftime("%B %Y") or 'Present' %></p>
								</div>
							</th>
							<th><%= link_to 'Edit', edit_experience_page_qualification_path(@experience_page.id, qualification.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></th>
							<th><%= link_to 'Delete', experience_page_qualification_path(@experience_page.id, qualification.id), 
							:confirm => "Delete this qualification?", :method => 'delete', :class => 'ss_sprite ss_delete' %></th>
						</tr>
							<% for subject in qualification.subjects %>
						<tr>
							<td><%= subject.name %></td>
							<td><%= subject.level %></td>
							<td><%= subject.grade or "-" %></td>
							<td><%= link_to 'Edit', edit_qualification_subject_path(qualification.id, subject.id), :method => 'get', :class => 'ss_sprite ss_pencil'  %></td>
							<td><%= link_to 'Delete', qualification_subject_path(qualification.id, subject.id), :method => 'delete', 
								:confirm => "Delete this qualification?", :class => 'ss_sprite ss_delete' %></td>
						</tr>
					<% end %>
				</table>
				<div style="clear: both;">
					<nav class="table-base"><%= link_to 'Add a course/subject', new_qualification_subject_path(qualification.id), :method => 'get', :class => 'ss_sprite ss_add' %>
					</nav>
				</div>					
				</li>
				<% end %>
			</ul>
			<nav class="action-bar">
			<%= link_to 'Add a new place', new_experience_page_qualification_path(@experience_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
			</nav>
			<% end %>
	</div>
</section>
