


<% if @experience_page.publish_positions? %>
	<h2 class="side-header span-7 last">Work Experience</h2>
	<div style="clear:both"></div>
	<ul class="plain-list">
	<% for position in @experience_page.positions %>
		<li>
			<div class="span-7 position-details">
				<h4><%= position.location %></h4>
				<p><%= position.date_from and position.date_from.strftime("%B %Y") %> - <%= position.date_to and position.date_to.strftime("%B %Y") or 'Present' %></p>
				<p><%= position.position_type %></p>
			</div>
		  <div class="span-14 push-1 last">
				 <p><%= position.description %></p>
		  </div>
		</li>
	<% end %>
	</ul>
<% end %>

<% if @experience_page.publish_qualifications? %>
  <h2 class="side-header span-7 last">Qualifications</h2>
	<div style="clear:both"></div>
	<% for qualification in @experience_page.qualifications %>
	<div class="span-7 position-details">
		<h4><%= qualification.location %></h4>
		<p><%= qualification.date_from and qualification.date_from.strftime("%B %Y") %> - <%= qualification.date_to and qualification.date_to.strftime("%B %Y") or 'Present' %></p>
	</div>
		<table class="span-14 push-1 last">			
		<% for subject in qualification.subjects %>
			<tr>
			<td><%= subject.name %></td>
			<td><%= subject.level %></td>
			<td><%= subject.grade or "-" %></td>
		</tr>
		<% end %>
	<% end %>
	</table>
<% end %>